<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<title>最寄り駅検索</title>
	<link rel="shortcut icon" href="favicon.ico">
    <meta name="descriptioin" content="緯度経度から最寄り駅を表示させるサイトです。">
    <meta property="og:image" content="ogp.png">
    <meta property="og:title" content="緯度経度から最寄り駅を表示させるサイト">
    <meta property="og:description" content="緯度経度から最寄り駅を表示させるサイトです。">
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
<table>
	<% @stations.each do |station| %>
		<tr class="station">
			<td class="line"><%= station["line"] %></td>
			<td class="name"><a href="https://www.google.co.jp/maps/place/<%= station["name"] %>駅"><%= station["name"] %></a></td>
			<td>前の駅　<%= station["prev"] %></td>
			<td>次の駅　<%= station["next"] %></td>
		</tr>
	<% end %>
</table>

<div id="detail">
	<h2>前の駅</h2>
	<div class="prev"></div>
</div>
<div id="detail">
	<h2>次の駅</h2>
	<div class="next"></div>
</div>

<script>
window.onload = function(){
	$(".station").click(function(){
		var line = $(".line",this).text();
		var name = $(".name",this).text();
		$.ajax( "/api/station", {
			type: "GET",
			data: {"line": line, "name": name},
			datatype: 'json'
		})
		.done(function(json){
			$("#detail .next").text(json["next"])
			$("#detail .prev").text(json["prev"])
		});
	});
}
</script>
</body>
</html>
